.idInput {
	text-transform: uppercase;
}

.selectNode {
	&:empty {
		&::after {
			content: "Select a node";
		}
	}

	&:active,
	&:focus {
		outline: none;
	}
}

.path {
	.edge,
	.header {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	margin: 1rem 0rem;
}
