.editPosition {
	display: flex;
	> label {
		font-weight: 500;
		margin-right: 0.5rem;
	}
}

.deleteButton {
	> * {
		margin-right: 0.5rem;
	}
	& > *:last-child {
		margin-right: 0rem;
	}
	background-color: hsl(0%, 50%, 45%);
	color: white;
}
