.layout {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
}

.userLayout {
	display: grid;
	grid-template-columns: 300px 1fr 300px;
}

.menuLayout {
	display: grid;
	grid-template-rows: 4rem 2rem;
}
